*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/background.png);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
}

.proyecto-imagenContainer{
    margin:10px auto;
    display: flex;
 float: right;
}
.proyecto-imagen{
    box-shadow:2px 2px 10px rgb(22, 21, 21);
    width:100px ;
    height:110px;
    border-radius: 10px;
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.proyecto-title{
    padding: 10px;
}
.container > div, 
.container .header,
.container .datosmios,
.container .Formacion,
.container .Experiencia,
.container .Referencias,
.container .Cursos,
.container .footer {
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgb(22, 21, 21);
}

.container .Formacion{
    width: 300px;
}

.footer .container .designed{
    background: rgb(51, 51, 53);
    color: white;
    grid-column-start: 2;
    grid-column-end: -1;
}

.container .header{
    background: rgb(51, 51, 53);
    color: white;
    grid-column-start: 1;
    grid-column-end: -1;
}

.container .Referencias{
    grid-column: span 2;
}

.container .datosmios{
    grid-column: span 2;
}

.Referencias .grid2{
    display: grid;
    background-color: rgb(231, 227, 231);
    grid-gap: 10px;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: flex-start;
    box-shadow: 2px 2px 10px rgb(22, 21, 21);

}

.grid-ref{
    grid-column-start: 1;
    grid-column-end: -1;
}